* {
  --gil-font: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  --black-color: black;
  --normal-font: 400;
}

html {
  font-size: 18px;
  color: white;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  overflow: hidden;
}

.form-bg {
  background-color: rgb(42, 212, 42);
  border: 1px solid white;
  border-radius: 5px;
  min-width: 700px;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.form-login {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-password {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.label-login {
  color: var(--black-color);
  font-weight: 400;
  font-family: var(--gil-font);
  margin: 0 20px 0 0;
}

.label-password {
  color: var(--black-color);
  font-weight: 400;
  font-family: var(--gil-font);
  margin: 0 20px 0 0;
}

#login {
  width: 200px;
  height: 30px;
}

#password {
  width: 200px;
  height: 30px;
}

.form-submit {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.submit-btn {
  width: 200px;
  height: 30px;
  color: var(--black-color);
}

.checkbox-btn {
  width: 20px;
  height: 20px;
}

.remember-text {
  color: var(--black-color);
  font-weight: 400;
  font-family: var(--gil-font);
}
